body {
    margin: 2%;
}

#modelDescription {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 500px;
}

#modelImage {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 500px;
    width: 100%;
}