<!doctype html>
<html>
    <head>
        <title>Process Model Repository</title>
        <link rel="stylesheet" href="styles/bootstrap.min.css" type="text/css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html">Process Model Repository</a>
            <div class="nav-link disabled" href="#">Updated at ${updatedDate}</div>
        </nav>
        <div class="container-fluid mt-3 mb-3">
            ${processes}
        </div>
        <script>
            function processInfo(id) {
                var infoPane = document.getElementById(id);

                if (infoPane.style.display === "none")
                    infoPane.style.display = "block";
                else
                    infoPane.style.display = "none";
            }
        </script>
    </body>
</html>
