research-calculations-cs/pmmining/bin
research-calculations-cs/pmmining/obj

research-calculations-python/

*.lnk

research-calculations-r/

research-calculations-java/xpdl-models/
research-calculations-java/processModelsStorage/*

!research-calculations-java/processModelsStorage/users.json
!research-calculations-java/processModelsStorage/processModels.json
!research-calculations-java/processModelsStorage/graph.rdf
!research-calculations-java/processModelsStorage/analysisResults.json
