research-calculations-cs/pmmining/bin
research-calculations-cs/pmmining/obj

research-calculations-python/.idea
research-calculations-python/venv

*.lnk

# Ignore R history
research-calculations-r/.Rhistory
research-calculations-r/.RData