# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# BP Models
models/
main/

# Future Work
src/bp/storing/nosql/

# NoSQL Storage
storage/

# Portal
portal/